h1{
    text-align: center;
    color: white;
}
body{
    position: relative;
    background-image: url('fountain-pen.jpg');
    font-family: "TikTok Sans", sans-serif;
    background-repeat: repeat;
}
.container{
    margin:auto;
    width : 60%;
    box-shadow: 1px 1px 5px black;
    min-height: 464px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button-container{
    margin-bottom: 10px;
    grid-column: 1/span 2;
    position: fixed;
}
.note{
    border: 2px solid black;
    width: 80%;
    height: 230px;
    text-align: left;
    padding: 5px 0px 5px 5px;
    border-radius: 3px;
    margin-top: 40px;
}

.title{
    width:95%;
    height: 25px;
    margin-top: 5px;
}

.body{
    width:95%;
    height: 105px;
    margin-top: 5px;
}

.save, .bin{
    width: 20px;
    height: 20px;
}

.add{
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
}
.add:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

textarea{
    outline: 0;
    resize: none;
    overflow: auto;
    font-family: "TikTok Sans", sans-serif;
}