body{
    font-family: "Libre Baskerville", sans-serif;
    position: relative;
    height: 580px;
    font-size: 15px;
    background-image: linear-gradient(#f5a351, #9d51f5);
}

.nav-bar{
    position: fixed;
    display: flex;
    background-color: #f51714;
    width: auto;
    justify-content: flex-end;
    left: 65%;
    top: -65px;
    transition: 0.5s;
}
a{
    padding:10px;
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
a:hover{
    background-color: #e4eb26;
    color:black;
}
h1, b{
    color: #07f0d5;
}