body{
    font-family: "Oswald", sans-serif;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    border: 1px solid black;
    padding: 10px 25px;
}

.bar-container{
    grid-column: 1/span 5;
}

.bar{   
    height: 10px;
    background-color: green;
    width: 6%;
}
.form-container{
    text-align: center;
    grid-column: 1/span 5;
    margin:10px 0;
    background-color: #ccc;
}
.button-container{
    float:right;
    margin: 10px;
}
.prev-btn{
    margin-right: 10px;
}

.step{
    margin-left:25px;
}
