body{
    font-family: "Oswald", sans-serif;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    border: 1px solid black;
    padding: 10px 25px;
}

.bar-container{
    grid-column: 1/span 5;
}

.bar{   
    height: 10px;
    border: 1px solid black;
    width: 0%;
}
.form-container{
    text-align: center;
    grid-column: 1/span 5;
}
.button-container{
    float:right;
}
.prev-btn{
    margin-right: 10px;
}