h1{
    text-align: center;
}
.step-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.bar-container{
    background-color: #ccc;
    border-radius: 3px;
    overflow: hidden;
}

.bar{
    border: 1px solid black;
    height: 10px;
    width: 5%;
    transition: width 1s;
    background-color: green;
}

.form-container{
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
    height: 100px;
}
.button-container{
    margin: 35px 20px 0 0;
    float: right;
}

.inactive-form{
    display: none;
}

.inactive-step{
    color: #ccc;
}

.content{
    margin-top: 10px;
    font-size: large;
}