h1{
    text-align: center;
}
.step-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.bar{
    border: 1px solid black;
    height: 10px;
}

.form-container{
    text-align: center;
}
.button-container{
    float: right;
}

.active-form{
    display: block;
}

.active-step{
    color: green;
}
.step{
    color: #ccc;
}

.form{
    display: none;
}